!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todo
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# from google fonts => light, normal, bold
    %link{:href=>"https://fonts.googleapis.com/css?family=Lato:300,400,700", :rel=>"stylesheet"}
    -# More styles From font awesome => Figure out how to use it well

  %body
    .container
      = yield
